body{
    background-color: #57886C; 
}

.inicio{
    background-color: #57886C;
    height: 200px;
}
.contact{
    background-color: #81A684;
    height: 200px;
}
.trayectoria{
    background-color: #8BB174;
    height: 200px;
}
.sobremi{
    background-color: #698F3F;
    height: 200px;
}